<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <main style="text-align: center">
    <h1 style="font-size: 50px">404</h1>
    <h2 style="color: rgb(30, 29, 29)">Oops! Page Not Found</h2>
    <a href="/" class="btn btn-delete">Go Back Home</a>
  </main>
</body>
<!-- </html> -->
