<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page</title>
    <link rel="stylesheet" href="404.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/add-home">Add home</a>
          </li>
          <li>
            <a href="/">Go to home</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>404!!! File not found.</h1>
      <a href="/">Return to Home</a>
    </main>
  </body>
</html>
