<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Home</title>
    <link rel="stylesheet" href="addHome.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/add-home">Add home</a>
          </li>
          <li>
            <a href="/">Return to home</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Regirster your home on airbnb</h1>
      <form action="/add-home" method="post">
        <input
          type="text"
          name="houseName"
          placeholder="Enter your Home Name"
          required
        />
        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
</html>
