<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <main>
    <h1>Home Registered Successfully!</h1>
    <p>Your home has been added to our listings</p>
    <a href="/" class="button-link">Go Back</a>
  </main>
</body>
<!-- </html> -->
