<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb Home Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/add-home">Add home</a>
          </li>
          <li>
            <a href="/">Return to home</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome To Airbnb Service.</h1>
      <h3>Here are your registerdHomes -</h3>
      <ul>
        <% registerdHomes.forEach(home => { %>
        <li>
          <span><%= home.houseName %></span>
        </li>
        <% }); %>
      </ul>
    </main>
  </body>
</html>
