<%- include('../partials/head') %>
<!-- </head> -->
<body>
  <%- include('../partials/nav') %>
  <main style="text-align: center">
    <h1>The Room Bookings Are Available</h1>
    <a href="/" class="btn btn-delete" style="text-decoration: none">Go Back</a>
  </main>
</body>
<!-- </html> -->
