<%- include('../partials/head') %>
<!-- </head> -->
<body>
  <%- include('../partials/nav') %>
  <main style="text-align: center">
    <h1>Your home details are available in this page</h1>
    <a
      href="/homes/:homeId"
      class="btn btn-delete"
      style="text-decoration: none"
      >Go Back</a
    >
  </main>
</body>
