<form action="/favrouites" method="post">
  <button
    type="submit"
    style="background-color: rgb(192, 17, 171); margin: 10px"
  >
    Add Favrouites
  </button>
  <input type="hidden" name="id" value="<%= home.id %>" />
  <!--जब आपको किसी डेटा (जैसे कि रिकॉर्ड का ID) को यूज़र को दिखाए बिना फॉर्म के साथ सर्वर पर भेजना हो, तब hidden input का उपयोग किया जाता है।-->
</form>
