<form action="/favrouites" method="post">
  <button
    type="submit"
    style="background-color: rgb(192, 17, 171); margin: 10px"
  >
    Add Favrouites
  </button>
  <input type="hidden" name="id" value="<%= home.id %>" />
</form>
