<header>
  <nav>
    <ul>
      <li>
        <a href="/">Airbnb</a>
      </li>
      <li>
        <a href="/homes">Homes</a>
      </li>
      <li>
        <a href="/bookings">Bookings</a>
      </li>
      <li>
        <a href="/favourite-list">Favourite List</a>
      </li>
      <li>
        <a href="/host-homelist">Host Homes</a>
      </li>
      <li>
        <a href="/add-home">Add Home</a>
      </li>
    </ul>
  </nav>
</header>
